<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Gestión de Impresoras - Piatto</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link id="dynamic-css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid">
      <!-- Encabezado con logo e idiomas -->
      <div
        class="row header-container align-items-center justify-content-between"
      >
        <div class="col-auto logo-container">
          <img id="logo-image" alt="Logo" class="logo-image" />
        </div>
        <div class="col-auto language-container">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="languageDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                id="current-flag"
                alt="Idioma actual"
                style="width: 32px; height: 22px"
              />
            </button>
            <ul class="dropdown-menu" aria-labelledby="languageDropdown">
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  onclick="changeLanguage('es')"
                >
                  <img
                    id="flag-es"
                    alt="Español"
                    style="width: 20px; height: 20px"
                  />
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  onclick="changeLanguage('en')"
                >
                  <img
                    id="flag-en"
                    alt="English"
                    style="width: 20px; height: 20px"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Contenido principal -->
      <div class="row content-container">
        <div class="col-12 text-start my-3">
          <h3 id="main-header"></h3>
          <p id="header-description"></p>
        </div>
        <div class="col-12 printer-list">
          <div class="container-fluid printer-container">
            <div class="row row-no-gutters" id="printer-container"></div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.getElementById(
        "dynamic-css"
      ).href = `${window.paths.assetsPath}/style.css`;

      let localIP, port;
      let translations = {};
      let currentLanguage = "es";
      let printers = []; // Almacenaremos los datos de las impresoras aquí

      async function loadTranslations() {
        console.log("Idioma actual:", currentLanguage);
        translations = await window.electron.ipcRenderer.invoke(
          "get-translations",
          currentLanguage
        );
        console.log("Traducciones:", translations);
      }

      function changeLanguage(language) {
        currentLanguage = language;
        document.getElementById(
          "current-flag"
        ).src = `${window.paths.assetsPath}/flags/${language}.svg`;

        loadTranslations().then(() => {
          updateInterface();
          updatePrinterUI(printers); // Recarga la UI de impresoras con el nuevo idioma
        });
      }

      function updateInterface() {
        console.log("Actualizo título con:", translations.interfaz.title);
        document.title = translations.interfaz.title;
        document.getElementById("main-header").textContent =
          translations.interfaz.header.main;
        document.getElementById("header-description").textContent =
          translations.interfaz.header.description;
      }

      async function requestServerInfo() {
        try {
          const serverInfo = await window.electron.ipcRenderer.invoke(
            "request-server-info"
          );
          localIP = serverInfo.localIP;
          port = serverInfo.port;
          initializeWebSocket();
        } catch (error) {
          console.error(
            "Error al solicitar la información del servidor:",
            error
          );
        }
      }

      function initializeWebSocket() {
        const ws = new WebSocket(`ws://${localIP}:${port}`);
        ws.onopen = () => console.log("Conectado al WebSocket del servidor");
        ws.onmessage = (event) => {
          printers = JSON.parse(event.data); // Almacena las impresoras en la variable global
          console.log("Impresoras en html:", printers);
          updatePrinterUI(printers); // Muestra las impresoras en el idioma actual
        };
        ws.onerror = (error) => console.error("Error en WebSocket:", error);
        ws.onclose = () => console.log("Conexión WebSocket cerrada");
      }

      async function testPrinter(printerName) {
        try {
          const response = await fetch(
            `http://${localIP}:3001/api/v1/impresion/prueba`,
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "Accept-Language": currentLanguage, 
              },
              body: JSON.stringify({ printerName }),
            }
          );

          const result = await response.json();
          if (result.success) {
            alert(translations.interfaz.alerts.test_success);
          } else {
            alert(translations.interfaz.alerts.test_error);
          }
        } catch (error) {
          alert(translations.interfaz.alerts.test_error);
        }
      }

      function updatePrinterUI(printers) {
        const container = document.getElementById("printer-container");
        container.innerHTML = "";

        printers.forEach((printer) => {
          const printerDiv = document.createElement("div");
          printerDiv.className = "col-sm-6 col-md-4 col-lg-4 mb-4";

          let statusClass = "";
          let statusText = "";
          switch (printer.status) {
            case "Desconectada":
              statusClass = "badge-inactiva";
              statusText = translations.interfaz.status.disconnected;
              break;
            case "Conectada":
              statusClass = "badge-conectada";
              statusText = translations.interfaz.status.connected;
              break;
            case "Inactiva":
              statusClass = "badge-inactiva";
              statusText = translations.interfaz.status.inactive;
              break;
            case "Imprimiendo":
              statusClass = "badge-imprimiendo";
              statusText = translations.interfaz.status.printing;
              break;
            case "Error":
              statusClass = "badge-error";
              statusText = translations.interfaz.status.error;
              break;
          }

          printerDiv.innerHTML = `
            <div class="card bg-dark text-white shadow">
              <div class="card-body text-center">
                <div class="badge-container">
                  <span class="badge ${statusClass}"><span class="dot"></span> ${statusText}</span>
                </div>
                <img src="${
                  window.paths.assetsPath
                }/impresora.png" alt="Impresora" class="printer-image mb-3">
                <h5 class="card-title mt-2">${(printer.description != undefined) ? printer.description: printer.name}</h5>
                <p class="card-text">${
                  printer.default
                    ? translations.interfaz.buttons.default
                    : translations.interfaz.buttons.non_default
                }</p>
                <button class="btn" onclick="testPrinter('${printer.name}')" ${
            printer.status === translations.interfaz.status.disconnected ||
            printer.status === translations.interfaz.status.printing
              ? "disabled"
              : ""
          }>${translations.interfaz.buttons.test_print}</button>
              </div>
            </div>
          `;
          container.appendChild(printerDiv);
        });
      }

      window.onload = () => {
        document.getElementById(
          "logo-image"
        ).src = `${window.paths.assetsPath}/logo.png`;
        document.getElementById(
          "current-flag"
        ).src = `${window.paths.assetsPath}/flags/es.svg`;
        document.getElementById(
          "flag-es"
        ).src = `${window.paths.assetsPath}/flags/es.svg`;
        document.getElementById(
          "flag-en"
        ).src = `${window.paths.assetsPath}/flags/en.svg`;

        loadTranslations().then(() => {
          updateInterface();
          requestServerInfo();
        });
      };
    </script>
  </body>
</html>
