/* General */
body, html {
  overflow-x: hidden;
  margin: 0;
  width: 100%;
}

body {
  font-family: 'Lexend', sans-serif;
  background-color: #282828;
  color: #ffffff;
  margin: 0;
}

.container-fluid {
  max-width: 100vw;
}

.header-container {
  padding: 10px;
}

.printer-container {
  overflow-y: auto;
  max-height: 60vh;
  margin: 0;
}

.content-container {
  padding: 0 10px;
}

.printer-list {
  padding: 10px;
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.container-fluid h3 {
  font-family: 'Lexend', sans-serif; /* Aplicar fuente en los títulos */
  color: #ffffff;
}

.badge,
.card-title,
.card-text,
.btn {
  font-family: 'Lexend', sans-serif;
}

.container-fluid h3 {
  /* font-size: 2.5rem; */
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.container-fluid p {
  font-size: 14px;
  margin-bottom: 2rem;
}

/* Tarjeta de cada impresora */
.card {
  background-color: #31302E;
  border-radius: 16px;
  border: 1px solid rgba(154, 154, 153, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  position: relative;
  overflow: hidden;
  padding-top: 20px; 
}

.card-body {
  padding-top: 10px; 
}

.card:hover {
  transform: translateY(-5px);
}

/* Logo Piatto */
.logo-image {
  width: 100px;
  height: auto;
  display: block;
  margin: 20px auto 0; 
}

/* Dropdown Idiomas */
.dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
}

.dropdown img {
  margin-right: 8px;
}

/* Imagen de la impresora */
.printer-image {
  width: 80px;
  height: auto;
  display: block;
  margin: 20px auto 0; /* Agrega margen superior para separar de la etiqueta de estado */
}

/* Indicador de estado */
.badge {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}

.badge-container {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Agrega margen inferior para separar del resto del contenido */
}

/* Círculo antes del texto */
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 0.6rem; /* Ajusta el espacio entre el dot y el texto del estado */
}

/* Colores según el estado */
.badge-conectada {
  color: #88B36E;
}

.badge-conectada .dot {
  background: radial-gradient(circle, #E4E4E3 30%, #88B36E 100%);
}

.badge-inactiva {
  color: #A4A4A7;
}

.badge-inactiva .dot {
  background: radial-gradient(circle, #FFFDF8 30%, #A4A4A7 100%);
}

.badge-imprimiendo {
  color: #FFCA40;
}

.badge-imprimiendo .dot {
  background: radial-gradient(circle, #FFF7E3 30%, #FFCA40 100%);
}

.badge-error {
  color: #F47F6B;
}

.badge-error .dot {
  background: radial-gradient(circle, #F5DFDB 30%, #F47F6B 100%);
}

/* Botón de prueba */
.btn {
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 8px;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #007bff;
  color: #ffffff;
}

/* Ajustes para el dropdown de idiomas solo con banderas */
.language-container .dropdown-menu {
  min-width: 100%; /* Tamaño mínimo del menú */
  padding: 5px 0; /* Espacio alrededor de las opciones */
}

.language-container .dropdown-item {
  display: flex;
  justify-content: center; /* Centrar la bandera horizontalmente */
  padding: 5px; /* Espacio interno de cada opción */
}

.language-container .dropdown-item img {
  min-width: 40%; /* Tamaño de la bandera */
  height: auto;
}

.version-container {
  margin-left: 15px;
  margin-right: auto;
}