/* General */
body {
  font-family: 'Lexend', sans-serif;
  background-color: #282828;
  color: #ffffff;
  margin: 0;
  /* padding: 20px; */
}

.container-fluid h3 {
  font-family: 'Lexend', sans-serif; /* Aplicar fuente en los títulos */
  color: #ffffff;
}

.badge,
.card-title,
.card-text,
.btn {
  font-family: 'Lexend', sans-serif;
}

.container-fluid h3 {
  /* font-size: 2.5rem; */
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.container-fluid p {
  font-size: 14px;
  margin-bottom: 2rem;
}

/* Tarjeta de cada impresora */
.card {
  background-color: #31302E;
  border-radius: 16px;
  border: 1px solid rgba(154, 154, 153, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  position: relative;
  overflow: hidden;
  padding-top: 20px; /* Aumenta el padding-top para dar más espacio al contenedor de estado */
}

.card-body {
  padding-top: 10px; /* Ajuste para dar espacio a la imagen sin chocar con el estado */
}

.card:hover {
  transform: translateY(-5px);
}

/* Logo Piatto */
.logo-image {
  width: 100px;
  height: auto;
  display: block;
  margin: 20px auto 0; /* Agrega margen superior para separar de la etiqueta de estado */
}

/* Imagen de la impresora */
.printer-image {
  width: 80px;
  height: auto;
  display: block;
  margin: 20px auto 0; /* Agrega margen superior para separar de la etiqueta de estado */
}

/* Indicador de estado */
.badge {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}

.badge-container {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Agrega margen inferior para separar del resto del contenido */
}

/* Círculo antes del texto */
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 0.6rem; /* Ajusta el espacio entre el dot y el texto del estado */
}

/* Colores según el estado */
.badge-conectada {
  color: #88B36E;
}

.badge-conectada .dot {
  background: radial-gradient(circle, #E4E4E3 30%, #88B36E 100%);
}

.badge-inactiva {
  color: #A4A4A7;
}

.badge-inactiva .dot {
  background: radial-gradient(circle, #FFFDF8 30%, #A4A4A7 100%);
}

.badge-imprimiendo {
  color: #FFCA40;
}

.badge-imprimiendo .dot {
  background: radial-gradient(circle, #FFF7E3 30%, #FFCA40 100%);
}

.badge-error {
  color: #F47F6B;
}

.badge-error .dot {
  background: radial-gradient(circle, #F5DFDB 30%, #F47F6B 100%);
}

/* Botón de prueba */
.btn {
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 8px;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #007bff;
  color: #ffffff;
}
